/****** www.salihseker.com ******/
GO
/****** Object:  Table [dbo].[Ilceler]    Script Date: 01.01.2021 16:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ilceler](
	[ilceId] [int] NOT NULL,
	[SehirId] [int] NOT NULL,
	[IlceAdi] [nvarchar](60) NOT NULL,
	[SehirAdi] [nvarchar](55) NOT NULL,
 CONSTRAINT [PK_Ilceler] PRIMARY KEY CLUSTERED 
(
	[ilceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Sehirler]    Script Date: 01.01.2021 16:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sehirler](
	[SehirId] [int] NOT NULL,
	[SehirAdi] [nvarchar](20) NOT NULL,
	[PlakaNo] [tinyint] NOT NULL,
	[TelefonKodu] [int] NOT NULL,
	[RowNumber] [int] NOT NULL,
 CONSTRAINT [PK_Sehirler] PRIMARY KEY CLUSTERED 
(
	[SehirId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SemtMah]    Script Date: 01.01.2021 16:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SemtMah](
	[SemtMahId] [int] NOT NULL,
	[SemtAdi] [nvarchar](60) NOT NULL,
	[MahalleAdi] [nvarchar](100) NOT NULL,
	[PostaKodu] [nvarchar](6) NOT NULL,
	[ilceId] [int] NOT NULL,
 CONSTRAINT [PK_SemtMah] PRIMARY KEY CLUSTERED 
(
	[SemtMahId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Ulkeler]    Script Date: 01.01.2021 16:48:32 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ulkeler](
	[UlkeId] [int] NOT NULL,
	[IkiliKod] [nvarchar](2) NOT NULL,
	[UcluKod] [nvarchar](3) NOT NULL,
	[UlkeAdi] [nvarchar](100) NOT NULL,
	[TelKodu] [nvarchar](6) NOT NULL,
 CONSTRAINT [PK_Ulkeler] PRIMARY KEY CLUSTERED 
(
	[UlkeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]



INSERT [dbo].[Ulkeler] ([UlkeId], [IkiliKod], [UcluKod], [UlkeAdi], [TelKodu]) VALUES (1, N'AF', N'AFG', N'Afghanistan', N'93')
INSERT [dbo].[Ulkeler] ([UlkeId], [IkiliKod], [UcluKod], [UlkeAdi], [TelKodu]) VALUES (2, N'AL', N'ALB', N'Albania', N'355')
INSERT [dbo].[Ulkeler] ([UlkeId], [IkiliKod], [UcluKod], [UlkeAdi], [TelKodu]) VALUES (3, N'DZ', N'DZA', N'Algeria', N'213')
GO



GO
INSERT [dbo].[Ilceler] ([ilceId], [SehirId], [IlceAdi], [SehirAdi]) VALUES (1, 1, N'AKÇAKOCA', N'DÜZCE')
INSERT [dbo].[Ilceler] ([ilceId], [SehirId], [IlceAdi], [SehirAdi]) VALUES (2, 1, N'CUMAYERİ', N'DÜZCE')
INSERT [dbo].[Ilceler] ([ilceId], [SehirId], [IlceAdi], [SehirAdi]) VALUES (3, 1, N'ÇİLİMLİ', N'DÜZCE')
GO
INSERT [dbo].[Sehirler] ([SehirId], [SehirAdi], [PlakaNo], [TelefonKodu], [RowNumber]) VALUES (1, N'DÜZCE', 81, 380, 82)
INSERT [dbo].[Sehirler] ([SehirId], [SehirAdi], [PlakaNo], [TelefonKodu], [RowNumber]) VALUES (2, N'OSMANİYE', 80, 328, 81)
INSERT [dbo].[Sehirler] ([SehirId], [SehirAdi], [PlakaNo], [TelefonKodu], [RowNumber]) VALUES (3, N'KİLİS', 79, 348, 80)
